body{
    overflow-x: hidden;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: lowercase;
}

.dark-mode {
  --main-bg-color: #151515;
  --main-font-color: #ff8c42;
  --second-font-color: #fff;
  /* background-color: var(--main-bg-color); */
}

.white-mode {
  --main-bg-color: #f4f4f4;
  --main-font-color: #ff5b00;
  --second-font-color: #7b3000;
  /* background-color: var(--main-bg-color); */
}
