
.container iframe{
    margin-top:50px;
    width: 1749px;
    height: 347px;
    border: none;

}
.dark-mode iframe{
    
    margin-top:50px;
    width: 1749px;
    height: 347px;
    border: none;
    filter: invert(100%);
 
}